input[type=text]::placeholder {
  font-family: "Raleway";
  color: #666;
}

input[type=checkbox]:checked+label {
  text-decoration: line-through;
}

.input-group-text {
  background: #F97300;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  padding: 1em 23px;
  color: #fff;
  position: absolute;
  right: 13px;
  top: 68px;
  cursor: pointer;
}

.input-group-text i {
  font-size: 2em;
}

.form-control {
  height: 3em;
  font-family: "Raleway";
}

.form-control:focus {
  box-shadow: 0;
}

.toggle {
  margin-right: 1em;
}

i {
  float: right;
  color: #888;
  cursor: pointer;
}
